
<a [routerLink]="['/book', book.isbn]" target="_blank">
  <p>Titel: {{book.title}}</p>
  <p>Preis: {{book.price}}</p>
  <p>Autoren: {{book.authors}}</p>
  <p>ISBN: {{book.isbn}}</p>
  <p class="rating">Rating: {{book.rating}}</p>
</a>
  <div class="actions">
    <button
      name="book-rate-down-btn"
      class="btn btn-default"
      (click)="decreaseRating()">-</button>
    <button class="btn btn-default"
      name="book-rate-up-btn"
      (click)="increaseRating()">+</button>
    <button class="btn btn-default"
      (click)="routeToDetails(book.isbn)">GoToDetails</button>
  </div>

